<%_ const path='./../'; _%>
<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- meta -->
        <%- include(path + '_common/_head', {
        path:path,meta:data.meta['works'],})%>
    </head>
    <body>
        <!-- .l-header -->
        <%- include(path + '_common/_header',{path:path,}) %>
        <!-- /.l-header -->

        <!-- .p-sub-mv -->
        <%- include(path + '_common/_submv',{path:path,meta:data.meta['works'],}) %>
        <!-- /.p-index-mv -->

        <!-- breadcrumb -->
        <div class="bread"></div>
        <!-- breadcrumb -->

        <!-- main -->
        <main class="l-works">
            <div class="l-works__contents">
                <div class="l-works__flex">
                    <div class="l-works__item">
                        <img src="../asset/img/work01.webp" alt="スムージーショップのホームページです" class="l-works__img">
                        <a href="#" class="l-works__link">Smoothiesta 様</a>
                    </div>
                    <div class="l-works__item">
                        <img src="../asset/img/work01.webp" alt="Web Conferenceのホームページです" class="l-works__img">
                        <a href="#" class="l-works__link">Web Conference 様</a>
                    </div>
                    <div class="l-works__item">
                        <img src="../asset/img/work01.webp" alt="ファッションサイトのホームページです" class="l-works__img">
                        <a href="#" class="l-works__link">LAMINA 様</a>
                    </div>
                    <div class="l-works__item">
                        <img src="../asset/img/work01.webp" alt="コーポレートサイトのホームページです" class="l-works__img">
                        <a href="#" class="l-works__link">CITYLab 様</a>
                    </div>
                    <div class="l-works__item">
                        <img src="../asset/img/work01.webp" alt="旅行のブログです" class="l-works__img">
                        <a href="#" class="l-works__link">TABILOG 様</a>
                    </div>
                </div>
            </div>

            <%- include(path + '_common/_contact',{path:path,}) %>
        </main>
        <!-- /main -->

        <%- include(path + '_component/_upbtn',{path:path,}) %>

        <%- include(path + '_common/_footer',{path:path,}) %>
    </body>
</html>
