<%_ const path='./../'; _%>
<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- meta -->
        <%- include(path + '_common/_head', {
        path:path,meta:data.meta['company'],})%>
    </head>
    <body>
        <!-- .l-header -->
        <%- include(path + '_common/_header',{path:path,}) %>
        <!-- /.l-header -->

        <!-- .p-sub-mv -->
        <%- include(path + '_common/_submv',{path:path,meta:data.meta['company'],}) %>
        <!-- /.p-index-mv -->

        <!-- breadcrumb -->
        <div class="bread"></div>
        <!-- breadcrumb -->

        <!-- main -->
        <main class="p-company">
            <div class="p-company__top">
                <div class="p-company__inner">
                    <img class="p-index-company__img" src="../asset/img/company01.webp" alt="銀髪のおしゃれな女性が笑っています">
                    <img class="p-index-company__img" src="../asset/img/company02.webp" alt="30代の活発そうな男性が笑みを浮かべています">
                    <img class="p-index-company__img" src="../asset/img/company03.webp" alt="仕事のできそうなサラリーマンが微笑んでいます">
                    <img class="p-index-company__img" src="../asset/img/company04.webp" alt="カジュアルな服装の女性がジャンプしています">
                </div>
                <div class="p-company__inner03">
                    <div class="p-company__title">
                        <h2 class="c-sectitle">
                            <span class="c-sectitle__main">メッセージ</span>
                        </h2>
                    </div>
                    <p class="p-company__goal">サイトのゴール = 夢を叶えること</p>
                    <p class="p-company__text">
                        お客様の夢を叶えること。<br>
                        それがWebサイトのゴールであり、私たちが目指すことです。<br>
                        だからこそちゃんと成果を出すサイトを全力でお作りします。<br>
                        お客様の笑顔を見たい。<br>
                        夢を実現する手助けをさせてください。
                    </p>
                </div>
            </div>
            <div class="p-company__president">
                <div class="p-company__president-left">
                    <img src="../asset/img/company05.webp" alt="猫山ポン太郎が笑っている写真です" class="p-company__president-img">
                </div>
                <div class="p-company__president-right">
                    <p class="p-company__president-text">
                        テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
                    </p>
                    <p class="p-company__president-text">
                        テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
                    </p>
                    <p class="p-company__president-text">
                        代表取締役社長 猫山ポン太郎
                    </p>
                </div>
            </div>

            <div class="p-company__title">
                <h2 class="c-sectitle">
                    <span class="c-sectitle__main">会社概要</span>
                </h2>
            </div>

            <div class="p-company__dl-block">
                <dl class="p-company__dl">
                    <dt class="p-company__dt">社名</dt>
                    <dt class="p-company__dd">株式会社PON DESIGN</dt>
                    <dt class="p-company__dt">設立</dt>
                    <dt class="p-company__dd">2025.02.10</dt>
                    <dt class="p-company__dt">代表取締役</dt>
                    <dt class="p-company__dd">猫山ポン太郎</dt>
                    <dt class="p-company__dt">資本金</dt>
                    <dt class="p-company__dd">1,000,000円</dt>
                    <dt class="p-company__dt">所在地</dt>
                    <dt class="p-company__dd">〒555-5555 東京都千代田区 ポンビルディング 606</dt>
                </dl>
            </div>

            <div class="p-company__map-block">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.828029576439!2d139.7671248!3d35.68123620000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bfbd89f700b%3A0x277c49ba34ed38!2z5p2x5Lqs6aeF!5e0!3m2!1sja!2sjp!4v1678175444913!5m2!1sja!2sjp" width="1110" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <a href="https://goo.gl/maps/YszRKo193SBaL4YH6" class="p-company__map-link">Google mapで見る</a>
            </div>

            <%- include(path + '_common/_contact',{path:path,}) %>
        </main>
        <!-- /main -->

        <%- include(path + '_component/_upbtn',{path:path,}) %>

        <%- include(path + '_common/_footer',{path:path,}) %>
    </body>
</html>
