<%_ const path='./../'; _%>
<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- meta -->
        <%- include(path + '_common/_head', {
        path:path,meta:data.meta['news'],})%>

    </head>
    <body>
        <!-- .l-header -->
        <%- include(path + '_common/_header',{path:path,}) %>
        <!-- /.l-header -->

        <!-- .p-sub-mv -->
        <%- include(path + '_common/_submv',{path:path,meta:data.meta['news'],}) %>
        <!-- /.p-index-mv -->

        <!-- breadcrumb -->
        <div class="bread"></div>
        <!-- breadcrumb -->

        <!-- main -->
        <main class="p-news">
            <div class="p-news__content">
                <dl class="p-news__dl">
                    <div class="p-news__dt"><span class="p-news__dt--date">2030.02.01</span><span class="c-news-title">お知らせ</span></div>
                    <div class="p-news__dd">
                        <span class="p-news__text">
                            <a href="article.html" class="p-news__link">
                                Webデザインニュースサイト「ウェブマガジン」に取材いただきました
                            </a>
                        </span>
                    </div>
                    <div class="p-news__dt"><span class="p-news__dt--date">2030.01.25</span><span class="c-news-title">制作実績</span></div>
                    <div class="p-news__dd">
                        <span class="p-news__text">
                            <a href="#" class="p-news__link">
                                Smoothiesta様のWebサイトを制作いたしました
                            </a>
                        </span>
                    </div>
                    <div class="p-news__dt"><span class="p-news__dt--date">2030.01.20</span><span class="c-news-title">採用</span></div>
                    <div class="p-news__dd">
                        <span class="p-news__text">
                            <a href="#" class="p-news__link">
                                Webデザイナーを１名募集中です！
                            </a>
                        </span>
                    </div>
                    <div class="p-news__dt"><span class="p-news__dt--date">2030.01.15</span><span class="c-news-title">お知らせ</span></div>
                    <div class="p-news__dd">
                        <span class="p-news__text">
                            <a href="#" class="p-news__link">
                                （２行のテキストの場合）テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
                            </a>
                        </span>
                    </div>
                    <div class="p-news__dt"><span class="p-news__dt--date">2030.01.14</span><span class="c-news-title">お知らせ</span></div>
                    <div class="p-news__dd">
                        <span class="p-news__text">
                            <a href="#" class="p-news__link">
                                テキストが入りますテキストが入りますテキストが入りますテキストが入ります
                            </a>
                        </span>
                    </div>
                    <div class="p-news__dt"><span class="p-news__dt--date">2030.01.14</span><span class="c-news-title">お知らせ</span></div>
                    <div class="p-news__dd">
                        <span class="p-news__text">
                            <a href="#" class="p-news__link">
                                テキストが入りますテキストが入りますテキストが入りますテキストが入ります
                            </a>
                        </span>
                    </div>
                    <div class="p-news__dt"><span class="p-news__dt--date">2030.01.14</span><span class="c-news-title">お知らせ</span></div>
                    <div class="p-news__dd">
                        <span class="p-news__text">
                            <a href="#" class="p-news__link">
                                テキストが入りますテキストが入りますテキストが入りますテキストが入ります
                            </a>
                        </span>
                    </div>
                    <div class="p-news__dt"><span class="p-news__dt--date">2030.01.14</span><span class="c-news-title">お知らせ</span></div>
                    <div class="p-news__dd">
                        <span class="p-news__text">
                            <a href="#" class="p-news__link">
                                テキストが入りますテキストが入りますテキストが入りますテキストが入ります
                            </a>
                        </span>
                    </div>
                    <div class="p-news__dt"><span class="p-news__dt--date">2030.01.14</span><span class="c-news-title">お知らせ</span></div>
                    <div class="p-news__dd">
                        <span class="p-news__text">
                            <a href="#" class="p-news__link">
                                テキストが入りますテキストが入りますテキストが入りますテキストが入ります
                            </a>
                        </span>
                    </div>
                    <div class="p-news__dt"><span class="p-news__dt--date">2030.01.14</span><span class="c-news-title">お知らせ</span></div>
                    <div class="p-news__dd">
                        <span class="p-news__text">
                            <a href="#" class="p-news__link">
                                テキストが入りますテキストが入りますテキストが入りますテキストが入ります
                            </a>
                        </span>
                    </div>
                    <div class="p-news__dt"><span class="p-news__dt--date">2030.01.14</span><span class="c-news-title">お知らせ</span></div>
                    <div class="p-news__dd">
                        <span class="p-news__text">
                            <a href="#" class="p-news__link">
                                テキストが入りますテキストが入りますテキストが入りますテキストが入ります
                            </a>
                        </span>
                    </div>
                    <div class="p-news__dt"><span class="p-news__dt--date">2030.01.14</span><span class="c-news-title">お知らせ</span></div>
                    <div class="p-news__dd">
                        <span class="p-news__text">
                            <a href="#" class="p-news__link">
                                テキストが入りますテキストが入りますテキストが入りますテキストが入ります
                            </a>
                        </span>
                    </div>
                    <div class="p-news__dt"><span class="p-news__dt--date">2030.01.14</span><span class="c-news-title">お知らせ</span></div>
                    <div class="p-news__dd">
                        <span class="p-news__text">
                            <a href="#" class="p-news__link">
                                テキストが入りますテキストが入りますテキストが入りますテキストが入ります
                            </a>
                        </span>
                    </div>
                    <div class="p-news__dt"><span class="p-news__dt--date">2030.01.14</span><span class="c-news-title">お知らせ</span></div>
                    <div class="p-news__dd">
                        <span class="p-news__text">
                            <a href="#" class="p-news__link">
                                テキストが入りますテキストが入りますテキストが入りますテキストが入ります
                            </a>
                        </span>
                    </div>
                    <div class="p-news__dt"><span class="p-news__dt--date">2030.01.14</span><span class="c-news-title">お知らせ</span></div>
                    <div class="p-news__dd">
                        <span class="p-news__text">
                            <a href="#" class="p-news__link">
                                テキストが入りますテキストが入りますテキストが入りますテキストが入ります
                            </a>
                        </span>
                    </div>
                    <div class="p-news__dt"><span class="p-news__dt--date">2030.01.14</span><span class="c-news-title">お知らせ</span></div>
                    <div class="p-news__dd">
                        <span class="p-news__text">
                            <a href="#" class="p-news__link">
                                テキストが入りますテキストが入りますテキストが入りますテキストが入ります
                            </a>
                        </span>
                    </div>
                    <div class="p-news__dt"><span class="p-news__dt--date">2030.01.14</span><span class="c-news-title">お知らせ</span></div>
                    <div class="p-news__dd">
                        <span class="p-news__text">
                            <a href="#" class="p-news__link">
                                テキストが入りますテキストが入りますテキストが入りますテキストが入ります
                            </a>
                        </span>
                    </div>
                    <div class="p-news__dt"><span class="p-news__dt--date">2030.01.14</span><span class="c-news-title">お知らせ</span></div>
                    <div class="p-news__dd">
                        <span class="p-news__text">
                            <a href="#" class="p-news__link">
                                テキストが入りますテキストが入りますテキストが入りますテキストが入ります
                            </a>
                        </span>
                    </div>
                    <div class="p-news__dt"><span class="p-news__dt--date">2030.01.14</span><span class="c-news-title">お知らせ</span></div>
                    <div class="p-news__dd">
                        <span class="p-news__text">
                            <a href="#" class="p-news__link">
                                テキストが入りますテキストが入りますテキストが入りますテキストが入ります
                            </a>
                        </span>
                    </div>
                    <div class="p-news__dt"><span class="p-news__dt--date">2030.01.14</span><span class="c-news-title">お知らせ</span></div>
                    <div class="p-news__dd">
                        <span class="p-news__text">
                            <a href="#" class="p-news__link">
                                テキストが入りますテキストが入りますテキストが入りますテキストが入ります
                            </a>
                        </span>
                    </div>
                    <div class="p-news__dt"><span class="p-news__dt--date">2030.01.14</span><span class="c-news-title">お知らせ</span></div>
                    <div class="p-news__dd">
                        <span class="p-news__text">
                            <a href="#" class="p-news__link">
                                テキストが入りますテキストが入りますテキストが入りますテキストが入ります
                            </a>
                        </span>
                    </div>
                </dl>
                <div class="p-news__btn-block">
                    <ul class="p-news__btn-ul">
                        <li class="p-news__btn-li">1</li>
                        <li class="p-news__btn-li"><a class="p-news__btn-link" href="#">2</a></li>
                        <li class="p-news__btn-li"><a class="p-news__btn-link" href="#">3</a></li>
                    </ul>
                </div>
            </div>

            <%- include(path + '_common/_contact',{path:path,}) %>
        </main>
        <!-- /main -->

        <%- include(path + '_component/_upbtn',{path:path,}) %>

        <%- include(path + '_common/_footer',{path:path,}) %>
    </body>
</html>
