<%_ const path='./../'; _%>
<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- meta -->
        <%- include(path + '_common/_head', {
        path:path,meta:data.meta['news'],})%>

    </head>
    <body>
        <!-- .l-header -->
        <%- include(path + '_common/_header',{path:path,}) %>
        <!-- /.l-header -->

        <!-- .p-sub-mv -->
        <%- include(path + '_common/_submv',{path:path,meta:data.meta['news'],}) %>
        <!-- /.p-index-mv -->

        <!-- breadcrumb -->
        <div class="bread"></div>
        <!-- breadcrumb -->

        <!-- main -->
        <main class="l-news">
            <div class="l-news__content">
                <dl class="l-news__dl">
                    <div class="l-news__dt">2030.02.01</div>
                    <div class="l-news__dl">
                        <span class="c-news-title">お知らせ</span>
                        <span class="l-news__text">
                            <a href="article.html" class="l-news__link">
                                Webデザインニュースサイト「ウェブマガジン」に取材いただきました
                            </a>
                        </span>
                    </div>
                    <div class="l-news__dt">2030.01.25</div>
                    <div class="l-news__dl">
                        <span class="c-news-title">制作実績</span>
                        <span class="l-news__text">
                            <a href="#" class="l-news__link">
                                Smoothiesta様のWebサイトを制作いたしました
                            </a>
                        </span>
                    </div>
                    <div class="l-news__dt">2030.01.20</div>
                    <div class="l-news__dl">
                        <span class="c-news-title">採用</span>
                        <span class="l-news__text">
                            <a href="#" class="l-news__link">
                                Webデザイナーを１名募集中です！
                            </a>
                        </span>
                    </div>
                    <div class="l-news__dt">2030.01.15</div>
                    <div class="l-news__dl">
                        <span class="c-news-title">お知らせ</span>
                        <span class="l-news__text">
                            <a href="#" class="l-news__link">
                                （２行のテキストの場合）テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
                            </a>
                        </span>
                    </div>
                    <div class="l-news__dt">2030.01.14</div>
                    <div class="l-news__dl">
                        <span class="c-news-title">お知らせ</span>
                        <span class="l-news__text">
                            <a href="#" class="l-news__link">
                                テキストが入りますテキストが入りますテキストが入りますテキストが入ります
                            </a>
                        </span>
                    </div>
                    <div class="l-news__dt">2030.01.14</div>
                    <div class="l-news__dl">
                        <span class="c-news-title">お知らせ</span>
                        <span class="l-news__text">
                            <a href="#" class="l-news__link">
                                テキストが入りますテキストが入りますテキストが入りますテキストが入ります
                            </a>
                        </span>
                    </div>
                    <div class="l-news__dt">2030.01.14</div>
                    <div class="l-news__dl">
                        <span class="c-news-title">お知らせ</span>
                        <span class="l-news__text">
                            <a href="#" class="l-news__link">
                                テキストが入りますテキストが入りますテキストが入りますテキストが入ります
                            </a>
                        </span>
                    </div>
                    <div class="l-news__dt">2030.01.14</div>
                    <div class="l-news__dl">
                        <span class="c-news-title">お知らせ</span>
                        <span class="l-news__text">
                            <a href="#" class="l-news__link">
                                テキストが入りますテキストが入りますテキストが入りますテキストが入ります
                            </a>
                        </span>
                    </div>
                    <div class="l-news__dt">2030.01.14</div>
                    <div class="l-news__dl">
                        <span class="c-news-title">お知らせ</span>
                        <span class="l-news__text">
                            <a href="#" class="l-news__link">
                                テキストが入りますテキストが入りますテキストが入りますテキストが入ります
                            </a>
                        </span>
                    </div>
                    <div class="l-news__dt">2030.01.14</div>
                    <div class="l-news__dl">
                        <span class="c-news-title">お知らせ</span>
                        <span class="l-news__text">
                            <a href="#" class="l-news__link">
                                テキストが入りますテキストが入りますテキストが入りますテキストが入ります
                            </a>
                        </span>
                    </div>
                    <div class="l-news__dt">2030.01.14</div>
                    <div class="l-news__dl">
                        <span class="c-news-title">お知らせ</span>
                        <span class="l-news__text">
                            <a href="#" class="l-news__link">
                                テキストが入りますテキストが入りますテキストが入りますテキストが入ります
                            </a>
                        </span>
                    </div>
                    <div class="l-news__dt">2030.01.14</div>
                    <div class="l-news__dl">
                        <span class="c-news-title">お知らせ</span>
                        <span class="l-news__text">
                            <a href="#" class="l-news__link">
                                テキストが入りますテキストが入りますテキストが入りますテキストが入ります
                            </a>
                        </span>
                    </div>
                    <div class="l-news__dt">2030.01.14</div>
                    <div class="l-news__dl">
                        <span class="c-news-title">お知らせ</span>
                        <span class="l-news__text">
                            <a href="#" class="l-news__link">
                                テキストが入りますテキストが入りますテキストが入りますテキストが入ります
                            </a>
                        </span>
                    </div>
                    <div class="l-news__dt">2030.01.14</div>
                    <div class="l-news__dl">
                        <span class="c-news-title">お知らせ</span>
                        <span class="l-news__text">
                            <a href="#" class="l-news__link">
                                テキストが入りますテキストが入りますテキストが入りますテキストが入ります
                            </a>
                        </span>
                    </div>
                    <div class="l-news__dt">2030.01.14</div>
                    <div class="l-news__dl">
                        <span class="c-news-title">お知らせ</span>
                        <span class="l-news__text">
                            <a href="#" class="l-news__link">
                                テキストが入りますテキストが入りますテキストが入りますテキストが入ります
                            </a>
                        </span>
                    </div>
                    <div class="l-news__dt">2030.01.14</div>
                    <div class="l-news__dl">
                        <span class="c-news-title">お知らせ</span>
                        <span class="l-news__text">
                            <a href="#" class="l-news__link">
                                テキストが入りますテキストが入りますテキストが入りますテキストが入ります
                            </a>
                        </span>
                    </div>
                    <div class="l-news__dt">2030.01.14</div>
                    <div class="l-news__dl">
                        <span class="c-news-title">お知らせ</span>
                        <span class="l-news__text">
                            <a href="#" class="l-news__link">
                                テキストが入りますテキストが入りますテキストが入りますテキストが入ります
                            </a>
                        </span>
                    </div>
                    <div class="l-news__dt">2030.01.14</div>
                    <div class="l-news__dl">
                        <span class="c-news-title">お知らせ</span>
                        <span class="l-news__text">
                            <a href="#" class="l-news__link">
                                テキストが入りますテキストが入りますテキストが入りますテキストが入ります
                            </a>
                        </span>
                    </div>
                    <div class="l-news__dt">2030.01.14</div>
                    <div class="l-news__dl">
                        <span class="c-news-title">お知らせ</span>
                        <span class="l-news__text">
                            <a href="#" class="l-news__link">
                                テキストが入りますテキストが入りますテキストが入りますテキストが入ります
                            </a>
                        </span>
                    </div>
                    <div class="l-news__dt">2030.01.14</div>
                    <div class="l-news__dl">
                        <span class="c-news-title">お知らせ</span>
                        <span class="l-news__text">
                            <a href="#" class="l-news__link">
                                テキストが入りますテキストが入りますテキストが入りますテキストが入ります
                            </a>
                        </span>
                    </div>
                    <div class="l-news__dt">2030.01.14</div>
                    <div class="l-news__dl">
                        <span class="c-news-title">お知らせ</span>
                        <span class="l-news__text">
                            <a href="#" class="l-news__link">
                                テキストが入りますテキストが入りますテキストが入りますテキストが入ります
                            </a>
                        </span>
                    </div>
                </dl>
                <div class="l-news__btn-block">
                    <ul class="l-news__btn-ul">
                        <li class="l-news__btn-li">1</li>
                        <li class="l-news__btn-li"><a href="#">2</a></li>
                        <li class="l-news__btn-li"><a href="#">3</a></li>
                    </ul>
                </div>
            </div>

            <%- include(path + '_common/_contact',{path:path,}) %>
        </main>
        <!-- /main -->

        <%- include(path + '_component/_upbtn',{path:path,}) %>

        <%- include(path + '_common/_footer',{path:path,}) %>
    </body>
</html>
