<%_ const path='./../'; _%>
<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- meta -->
        <%- include(path + '_common/_head', {
        path:path,meta:data.meta['news'],})%>

    </head>
    <body>
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v16.0" nonce="IZCtsgvt"></script>

        <!-- .l-header -->
        <%- include(path + '_common/_header',{path:path,}) %>
        <!-- /.l-header -->

        <!-- .p-sub-mv -->
        <%- include(path + '_common/_submv',{path:path,meta:data.meta['news'],}) %>
        <!-- /.p-index-mv -->

        <!-- breadcrumb -->
        <div class="c-bread-trigger"></div>
        <div class="bread"></div>
        <!-- breadcrumb -->

        <!-- main -->
        <main class="p-news-article">
            <h2 class="p-news-article__title">
                Webデザインニュースサイト「ウェブマガジン」に取材いただきました
            </h2>
            <div class="p-news-article__subtitle">
                <span class="p-news__dt--date">2030.02.01</span><span class="c-news-title">お知らせ</span>
            </div>
            <img src="../asset/img/news01.webp" alt="ラフな格好の女性が緑一杯の公園で上を向いています" class="p-news-article__img">

            <p class="p-news-article__text">
                テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
            </p>

            <h3 class="p-news-article__title02">大見出し</h3>
            <p class="p-news-article__text">
                テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
            </p>

            <h4 class="p-news-article__title03">小見出し</h4>
            <p class="p-news-article__text">
                テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
            </p>
            <p class="p-news-article__text">
                テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
            </p>

            <div class="p-news-article__sns">
                <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="" data-layout="button" data-action="" data-size="" data-share="true"></div>
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
                <a href="https://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="basic-label" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/v4/public/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
                <div class="line-it-button" data-lang="ja" data-type="share-b" data-env="REAL" data-url="https://developers.line.biz/ja/docs/line-social-plugins/install-guide/using-line-share-buttons/" data-color="default" data-size="small" data-count="false" data-ver="3" style="display: none;"></div>
<script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
            </div>

            <%- include(path + '_common/_contact',{path:path,}) %>
        </main>
        <!-- /main -->

        <%- include(path + '_component/_upbtn',{path:path,}) %>

        <%- include(path + '_common/_footer',{path:path,}) %>
    </body>
</html>
