<%_ const path='./../'; _%>
<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- meta -->
        <%- include(path + '_common/_head', {
        path:path,meta:data.meta['recruit'],})%>
    </head>
    <body>
        <!-- .l-header -->
        <%- include(path + '_common/_header',{path:path,}) %>
        <!-- /.l-header -->

        <!-- .p-sub-mv -->
        <%- include(path + '_common/_submv',{path:path,meta:data.meta['recruit'],}) %>
        <!-- /.p-index-mv -->

        <!-- breadcrumb -->
        <div class="bread"></div>
        <!-- breadcrumb -->

        <!-- main -->
        <main class="p-recruit">
            <p class="p-recruit__big-title">Enjoy Creation for Client</p>
            <p class="p-recruit__big-subtitle">楽しむ心が良いモノを生む</p>
            <p class="p-recruit__text">
                心を弾ましながら<br>
                夢いっぱいのサイトを作ろう！<br>
                お客様も自分もみんなが幸せになれるように
            </p>

            <div class="p-recruit__img-block">
                <img src="../asset/img/recruit02.jpg" alt="肌の色が違う３人の女性がスマホを見ながら笑っています" class="p-recruit__img">
            </div>

            <div class="p-recruit__title">
                <h2 class="c-sectitle">
                    <span class="c-sectitle__main">募集中の職種</span>
                </h2>
            </div>

            <div class="p-recruit__box">
                <h3 class="p-recruit__sub-title">Webデザイナー</h3>

                <dl class="p-recruit__dl">
                    <dt class="p-recruit__dt">雇用形態</dt>
                    <dt class="p-recruit__dd">正社員</dt>
                    <dt class="p-recruit__dt">給与</dt>
                    <dt class="p-recruit__dd">400万円〜600万円（経験・能力を考慮のうえ優遇）</dt>
                    <dt class="p-recruit__dt">仕事内容</dt>
                    <dt class="p-recruit__dd">Webサイトの制作。サイトのデザインとコーディングを担当していただきます。</dt>
                    <dt class="p-recruit__dt">勤務時間</dt>
                    <dt class="p-recruit__dd">10:00 〜 19:00（実働8時間、休憩1時間）</dt>
                    <dt class="p-recruit__dt">応募資格</dt>
                    <dt class="p-recruit__dd">
                        PhotoshopやXDなどのデザインツールの使い方を理解し、コーディングの基礎スキルがある方。
                        実務未経験でも学校や独学で学習した方を歓迎します。
                        <ul class="p-recruit__ul">
                            <li class="p-recruit__li">デザインやコーディングを楽しめる方</li>
                            <li class="p-recruit__li">常にアンテナを張って積極的にトレンドや最新の技術を取り入れる方</li>
                            <li class="p-recruit__li">お客様と一緒に楽しみながら高い目的を目指せる方</li>
                        </ul>
                    </dt>
                </dl>
                <a href="#" class="c-btn">more</a>
                <p class="p-recruit__under-btn">求人サイトへ遷移します</p>
            </div>

            <div class="p-recruit__title">
                <h2 class="c-sectitle">
                    <span class="c-sectitle__main">社内ムービー</span>
                </h2>
            </div>

            <div class="p-recruit__video">
                <iframe width="1110" height="624" src="https://www.youtube.com/embed/VwbnZHvQ3CE" title="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <%- include(path + '_common/_contact',{path:path,}) %>
        </main>
        <!-- /main -->

        <%- include(path + '_component/_upbtn',{path:path,}) %>

        <%- include(path + '_common/_footer',{path:path,}) %>
    </body>
</html>
